#special {
    padding-bottom: 50px;
}

#special .container {
    margin-top: 20px;
}

#special .container .img {
    position: relative;
}

#special .container a:nth-child(2) {
    position: absolute;
    top: 0;
}

#special .container a img {
    width: 500px;
    height: 270px;
}

#special .container ul {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    width: 440px;
}

#special .container ul li {
    height: 100%;
}

#special .container ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 15px;
    justify-content: space-between;
}

.active {
    border: 1px solid ;
    border-radius: 5px;
}